.certificados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  overflow: hidden;

  @include responsive(tab-ver) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__item:first-child {
    grid-column: 1 / -1;
  }

  &__photo {
    width: 100%;
    border-radius: 1rem;
  }
}
