// Estilos de letras
$font-default: 'Lato', sans-serif;

// Tamaños de leta
$size-default: 1.6rem;

// Paleta de colores
$color-gris-oscuro: #777;
$color-negro: #000;
$color-negro-1: #111;
$color-blanco: #fff;
$color-primario: #2ecc71;
$color-primario-oscuro: #28b062;
