<header class="header" id="header">
    <nav class="nav">
        <div class="u-contenedor">
            <p class="nav__logo">Porta<span>folio</span></p>
            <ul class="nav__list">
                <li class="nav__item"><a href="#header" class="nav__link">Inicio</a></li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">Sobre mi</a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link">Servicios</a>
                </li>
                <li class="nav__item">
                    <a href="#portafolio" class="nav__link">Portafolio</a>
                </li>
                <li class="nav__item">
                    <a href="#contacto" class="nav__link">Contacto</a>
                </li>
            </ul>
            <div class="nav__menu">
                <span class="nav__icon"></span>
            </div>
        </div>
    </nav>
    <div class="header__content">
        <img src="img/my-photo.jpg" alt="Photo" class="header__photo" />
        <h1 class="heading-primary">
            <span>Hello!</span>
            I'm Yosman Gonzalez
            <span>- Frontend Developer -</span>
        </h1>
    </div>
</header>