{{ define "main" }}
<section class="section" id="about">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-big">
            <h2 class="heading-secondary">Sobre mi</h2>
        </div>
        <div class="about">
            <div class="about__item">
                <div class="u-margin-bottom-medium">
                    <h3 class="heading-tertiary">Quien soy?</h3>
                </div>
                <div class="u-margin-bottom-small">
                    <p class="about__presentacion">
                        Hola! mi nombre es Yosman Gonzalez, soy una persona apasionada
                        por la tecnología y el desarrollo web.
                    </p>
                </div>
                <div class="u-margin-bottom-small">
                    <p class="about__descripcion">
                        Soy un desarrollador Web Frontend, vivo en Colombia - Medellín
                        actualmente estoy terminando mi carrera universitaria como
                        tecnólogo en desarrollo de software y más adelante aspiro a
                        seguir con la ingeniería.
                    </p>
                </div>
                <div class="u-margin-bottom-medium">
                    <p class="about__descripcion">
                        Me gusta todo lo que tenga que ver con metodologías y
                        patrones dentro del desarrollo web considero que este es mi
                        punto fuerte.
                    </p>
                </div>
                <a class="button button--primario" href="files/Hoja de vida.pdf" download="Yosman_CV"><i
                        class="button__icon fas fa-file-download"></i> Descargar CV</a>
            </div>
            <div class="about__item">
                <div class="u-margin-bottom-medium">
                    <h3 class="heading-tertiary">Mis habilidades:</h3>
                </div>

                <div class="about__gallery">
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-html5"></i>
                        <p class="about__gallery-tecnology">HTML5</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-css3-alt"></i>
                        <p class="about__gallery-tecnology">CSS3</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-js"></i>
                        <p class="about__gallery-tecnology">JavaScript</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-sass"></i>
                        <p class="about__gallery-tecnology">Sass</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-github"></i>
                        <p class="about__gallery-tecnology">GitHub</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fab fa-hire-a-helper"></i>
                        <p class="about__gallery-tecnology">HugoJs</p>
                    </div>
                    <div class="about__gallery-item">
                        <i class="about__gallery-icon fas fa-bacon"></i>
                        <p class="about__gallery-tecnology">TailwindCss</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="services">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-medium">
            <h2 class="heading-secondary">Servicios</h2>
        </div>
        <div class="u-text-center u-margin-bottom-medium">
            <p class="paragraph">Servicios que ofrezco a mis clientes</p>
        </div>
        <div class="services">
            <div class="services__item">
                <i class="services__icon fas fa-palette"></i>
                <h4 class="heading-four">Diseño Plano</h4>
                <p class="services__descripcion">
                    Facilita la vida del usuario a travéz de un diseño estético y atractivo.
                </p>
            </div>
            <div class="services__item">
                <i class="services__icon fas fa-mobile-alt"></i>
                <h4 class="heading-four">Full Responsive</h4>
                <p class="services__descripcion">
                    Sitio web adaptado a cualquier dispositivo movil o de escritorio.
                </p>
            </div>
            <div class="services__item">
                <i class="services__icon fas fa-code"></i>
                <h4 class="heading-four">Desarrollo</h4>
                <p class="services__descripcion">
                    Se añade características interactivas a tu sitio web.
                </p>
            </div>
            <div class="services__item">
                <i class="services__icon fas fa-pencil-ruler"></i>
                <h4 class="heading-four">Maquetación web</h4>
                <p class="services__descripcion">
                    Pasar de un diseño al desarrollo web.
                </p>
            </div>
            <div class="services__item">
                <i class="services__icon fas fa-file-code"></i>
                <h4 class="heading-four">Single Page Aplication</h4>
                <p class="services__descripcion">
                    Ocupe el 100% de tu contenido en la pagina web sin la necesidad de ir a un enlace externo
                </p>
            </div>
            <div class="services__item">
                <i class="services__icon fas fa-cogs"></i>
                <h4 class="heading-four">API REST</h4>
                <p class="services__descripcion">
                    Integrar tu sitio web con otras aplicaciones.
                </p>
            </div>
        </div>
    </div>
</section>
{{/*  <section class="section" id="portafolio">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-medium">
            <h2 class="heading-secondary">Portafolio</h2>
        </div>
        <div class="u-text-center u-margin-bottom-medium">
            <p class="paragraph">Mostrando algunos de mis mejores trabajos</p>
        </div>
        <div class="portafolio">
            <figure class="portafolio__item">
                <img src="img/Portafolio-1.JPG" alt="Portafolio 1" class="portafolio__photo">
                <figcaption class="portafolio__caption">
                    <p class="portafolio__proyecto">Propio</p>
                    <div class="u-margin-bottom-small">
                        <h5 class="heading-five">Essentials</h5>
                    </div>
                    <p class="portafolio__descripcion">Trabajo desarrollado con HTML5, CSS3, SASS y Vanilla JS</p>
                    <div class="u-flex">
                        <a href="https://yosmanprogramer.github.io/essentials/" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-globe-americas"></i>Sitio
                            Web</a>
                        <a href="https://github.com/YosmanProgramer/essentials" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-code-branch"></i>repositorio</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="portafolio__item">
                <img src="img/paisesVecinos.PNG" alt="Paises vecinos" class="portafolio__photo">
                <figcaption class="portafolio__caption">
                    <p class="portafolio__proyecto">Propio</p>
                    <div class="u-margin-bottom-small">
                        <h5 class="heading-five">Paises Vecinos</h5>
                    </div>
                    <p class="portafolio__descripcion">Trabajo desarrollado con HTML5, CSS3 y Vanilla JS</p>
                    <div class="u-flex">
                        <a href="https://yosmanprogramer.github.io/paisesVecinos/" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-globe-americas"></i>Sitio
                            Web</a>
                        <a href="https://github.com/YosmanProgramer/paisesVecinos" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-code-branch"></i>repositorio</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="portafolio__item">
                <img src="img/Portafolio-2.JPG" alt="Portafolio 2" class="portafolio__photo">
                <figcaption class="portafolio__caption">
                    <p class="portafolio__proyecto">Propio</p>
                    <div class="u-margin-bottom-small">
                        <h5 class="heading-five">SALÓN R&D</h5>
                    </div>
                    <p class="portafolio__descripcion">Trabajo desarrollado con HTML5, CSS3, SASS y Vanilla JS</p>
                    <div class="u-flex">
                        <a href="https://yosmanprogramer.github.io/salonRD/" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-globe-americas"></i>Sitio
                            Web</a>
                        <a href="https://github.com/YosmanProgramer/salonRD" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-code-branch"></i>repositorio</a>
                    </div>
                </figcaption>
            </figure>
            <figure class="portafolio__item">
                <img src="img/Portafolio-3.JPG" alt="Portafolio 3" class="portafolio__photo">
                <figcaption class="portafolio__caption">
                    <p class="portafolio__proyecto">Propio</p>
                    <div class="u-margin-bottom-small">
                        <h5 class="heading-five">MostachoPizza</h5>
                    </div>
                    <p class="portafolio__descripcion">Trabajo desarrollado con HTML5, CSS3, SASS y jQuery</p>
                    <div class="u-flex">
                        <a href="https://yosmanprogramer.github.io/MostachoPizza/" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-globe-americas"></i>Sitio
                            Web</a>
                        <a href="https://github.com/YosmanProgramer/MostachoPizza" target="_blank"
                            class="boton button--primario"><i class="boton__icon fas fa-code-branch"></i>repositorio</a>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
    </div>
</section>  */}}
<section class="section" id="portafolio">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-medium">
            <h2 class="heading-secondary">Portafolio</h2>
        </div>
        <div class="u-text-center u-margin-bottom-medium">
            <p class="paragraph">Proyectos desarrollados para la empresa <a href="https://www.datasketch.co/"
                    target="_blank" style="color: #da1c95; text-decoration: none; font-weight: bold;">Datasketch</a></p>
        </div>
        <!-- Slider main container -->
        <div class="swiper swiper-main">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-1.png" alt="CEDAE" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Datos democracia</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://datosdemocracia.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-2.png" alt="Conectando Caminos" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Conectando Caminos</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://conectando-caminos.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-3.png" alt="Reconocimiento Facial" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Reconocimiento Facial</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://reconocimiento-facial.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-4.png" alt="Sucre Mapa Cultural" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Sucre Mapa Cultural</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://mapa-cultural-sucre.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-5.png" alt="GIZ - PAGA" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">GIZ - PAGA</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://giz-paga.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-6.png" alt="Mapas Idartes" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Mapas Idartes</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://mapas-idartes.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-7.png" alt="Hilando Vidas" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Hilando Vidas y Esperanza</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://hilando-vida.netlify.app/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="portafolio__item">
                        <img src="img/datasketch-8.png" alt="Narino Biodiversidad" class="portafolio__photo">
                        <figcaption class="portafolio__caption">
                            <p class="portafolio__proyecto portafolio__proyecto--pink">Datasketch</p>
                            <div class="u-margin-bottom-small">
                                <h5 class="heading-five">Nariño Biodiversidad</h5>
                            </div>
                            <p class="portafolio__descripcion">Trabajo desarrollado con Hugo y Tailwind</p>
                            <div class="u-flex">
                                <a href="https://sib-biodiversidad.netlify.app/narino/" target="_blank"
                                    class="boton button--primario"><i
                                        class="boton__icon fas fa-globe-americas"></i>Sitio
                                    Web</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- Slider main container -->
        <div class="swiper swiper-thumbs">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="img/datasketch-1.png" alt="CEDAE" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-2.png" alt="Conectando Caminos" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-3.png" alt="Reconocimiento Facial" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-4.png" alt="Sucre Mapa Cultural" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-5.png" alt="GIZ - PAGA" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-6.png" alt="Mapas Idartes" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-7.png" alt="Hilando Vidas" class="portafolio__photo">
                </div>
                <div class="swiper-slide">
                    <img src="img/datasketch-8.png" alt="Narino Biodiversidad" class="portafolio__photo">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="certificados">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-medium">
            <h2 class="heading-secondary">Certificados</h2>
        </div>
        <div class="u-text-center u-margin-bottom-medium">
            <p class="paragraph">Mis certificados por parte de udemy y la alcaldía de medellín</p>
        </div>
        <div class="certificados">
            <div class="certificados__item">
                <img src="img/certificado-hackathon.jpg" alt="Certificado hackathon" class="certificados__photo">
            </div>
            <div class="certificados__item">
                <img src="img/certificado-css.jpg" alt="Certificado css" class="certificados__photo">
            </div>
            <div class="certificados__item">
                <img src="img/certificado-sass.jpg" alt="Certificado sass" class="certificados__photo">
            </div>
            <div class="certificados__item">
                <img src="img/certificado-js.jpg" alt="Certificado js" class="certificados__photo">
            </div>
        </div>
    </div>
</section>
<section class="section" id="contacto">
    <div class="u-contenedor">
        <div class="u-text-center u-margin-bottom-medium">
            <h2 class="heading-secondary">Contacto</h2>
        </div>
        <div class="u-text-center u-margin-bottom-medium">
            <p class="paragraph">Siempre disponible, no dudes en contactarme!</p>
        </div>
        <div class="contacto">
            <div class="contacto__item">
                <a href="https://www.facebook.com/yosmanandres.higuitagonzalez.50" target="_blank"
                    class="contacto__link"><i class="contacto__icon fab fa-facebook-square"></i>Facebook</a>
            </div>
            <div class="contacto__item">
                <a href="https://www.linkedin.com/in/yosman-andres-higuita-gonzalez-6715881b9/" target="_blank"
                    class="contacto__link"><i class="contacto__icon fab fa-linkedin"></i>LinkedIn</a>
            </div>
            <div class="contacto__item">
                <a href="mailto:Yosman.higuita028@gmail.com" target="_blank" class="contacto__link"><i
                        class="contacto__icon fas fa-paper-plane"></i>Gmail</a>
            </div>
            <div class="contacto__item">
                <a href="https://github.com/YosmanProgramer" target="_blank" class="contacto__link"><i
                        class="contacto__icon fab fa-github-alt"></i>GitHub</a>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
{{ end }}
{{ define "js" }}
{{ $swiper := resources.Get "js/utils/swiper.js" | js.Build (dict "minify" true) }}
<script src="{{ $swiper.Permalink }}"></script>
{{ end }}